{% load static %}
<!-- footer start -->
            <div class="row bg-dark footer py-5 mt-5">
                <div class="col-sm-12 text-center text-light">
                    <img src="{% static '/images/logo.png' %}" alt="">
                    <h4>About Us</h4>
                    <p>Jane Daily Needs is a family of nature enthusiast and farmers who work together  <br>to bring to
the forefront hidden gems <br>which have tremendous health and environmental benefits to make your
life a “Happy Way of Living”.</p>
<br>
<br>
                    <p>&copy; copyright 2022-2023 all right reserved, designed and developed by <i  style="color:#7fff00">Jane WebDesigning</i></p>
                </div>
            </div>
            <!-- footer end -->
