<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <title>Jane Daily Needs</title>
      <link href="./static/images/logo.png" rel="icon" width="70px" height="70px"/>
  </head>
    <body>

        <div class="container-fluid">
        <!-- outer start -->

            {% include "navbar.html" %}

            <!-- slider start -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="static/images/banners/s1.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="static/images/banners/s2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="static/images/banners/s3.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
            <!-- slider end -->



            <!-- section start -->
            <div class="row mt-3">
                <div class="col-sm-3 text-center">
                    <div class="section shadow-sm">
                        <img src="static/images/section/1.jpg" alt="">
                    </div>
                    <button type="button" class="btn mt-2" style="background:#7fff00;">Fruits</button>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="section shadow-sm">
                        <img src="static/images/section/2.jpg" alt="">
                    </div>
                    <button type="button" class="btn mt-2" style="background:#7fff00;">Beverages</button>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="section shadow-sm">
                        <img src="static/images/section/3.jpg" alt="">
                    </div>
                    <button type="button" class="btn mt-2" style="background:#7fff00;">Vagetables</button>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="section shadow-lg">
                        <img src="static/images/section/4.jpg" alt="">
                    </div>
                    <button type="button" class="btn mt-2" style="background:#7fff00;">Snakes</button>
                </div>
            </div>
            <!-- section end -->



            <!-- product start -->
            <div class="row mt-5">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/bk.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.180/litre </h5>
                            <p class="fw-bold">Musturd Oil </p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=98&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=98&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end" style="background:#7fff00;">Buy Now</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/gr.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.100 per Kg</h5>
                            <p class="fw-bold">Grapes</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=9&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=9&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end" style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/drink.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.20 /-</h5>
                            <p class="fw-bold">Coca cola</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=10&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=10&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end" style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/f1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.30 per kg /-</h5>
                            <p class="fw-bold">Banana</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=20&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;" >Add to cart</a>
                                <a href="/mycart?product_id=20&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end"  style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/f2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.50 per kg</h5>
                            <p class="fw-bold">Apple</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=4&flag=add_to_cart&category={{request.GET.category}}" class="btn"  style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=4&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end"  style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/exo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.25 /-</h5>
                            <p class="fw-bold">Exo Dish Wash Bar</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=47&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=47&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end"  style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/m.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.48 /-</h5>
                            <p class="fw-bold">Mazza</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=22&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=22&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end" style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="static/images/product/lb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rs.40 /-</h5>
                            <p class="fw-bold">LifeBouy Soap</p>
                            <small class="card-text d-block">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
                            <div class="mt-2">
                                <a href="/mycart?product_id=34&flag=add_to_cart&category={{request.GET.category}}" class="btn" style="background:#7fff00;">Add to cart</a>
                                <a href="/mycart?product_id=34&flag=add_to_cart&category={{request.GET.category}}" class="btn float-end" style="background:#7fff00;">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product end -->
          {% include "footer.html" %}
        <!-- outer end -->
        </div>

    </body>
</html>